/* .input-form * {
  margin-right: 10px;
}

.search-input {
  height: 40px;
  justify-content: center;
  padding: 10px;
  border-radius: 2px;
  border: 0;
  width: 30%;
}

.btn {
  background: grey;
  border: 0;
  height: 40px;
  padding: 0 10px;
  border-radius: 2px;
  transition: 0.2s linear;
}

.btn:hover {
  background: darkgray;
  cursor: pointer;
  transition: 0.2s linear;
}

@media (max-width: 800px) {
  .search-input {
    width: 60%;
  }
} */